/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

.list-group-item {
    height: 32px;
    padding-bottom: 4px;
    padding-top: 4px;
}

.item-list .p-inputtext, .p-dropdown-item {
    padding: 4px !important;
}

.p-dropdown-items {
    padding: 0;
    margin: 0;
}

.item-list {
    width: 400px;
}

.p-button {
    height: 32px;
    margin: 4px;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    min-width: 100%;
}

.p-dropdown-label {
    padding: 4px;
}

.p-dropdown {
    height: 32px;
}

.paginator {
    padding: 0;
    height: 40px;
}