.submit-form {
  max-width: 400px;
  margin: auto;
}

.td-label {
  label {
    min-width: 80px;
  }
  padding-top: 8px;
  padding-bottom: 16px;
  padding-right: 16px;
  align-content: flex-end;
}

.table-form {
  padding-bottom: 16px;
}

.item-list {
  padding-top: 0;
}
.p-dropdown .p-inputwrapper:focus,
.p-dropdown .p-inputwrapper:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #e9ecef;
}