.edit-form {
  max-width: 400px;
  margin: auto;
}

.td-label {
  padding-right: 16px;
  align-content: flex-end;
}

.table-form {
  padding-bottom: 16px;
}

.btn {
  line-height: 1;
  font-weight: bold;
  margin-right: 8px;
  margin-bottom: 8px;
}